.data-range-wrap {
  max-width: 100%;
  width: 100%;

  .date-wrap {

    p {
      margin: 0;
      padding: 5px 0;
    }

    .date {
      background-color: rgba(33, 165, 33, 0.9);
      border: 1px solid rgba(0, 0, 0, 0.4);
      padding: 5px 0;
      min-height: 15px;
      color: #fff;


      &.holiday {
        background-color: rgba(63, 81, 181, 0.9);
        cursor: default;
      }

      &.weekend {
        background-color: rgba(0, 0, 0, 0.5);
        cursor: auto;
      }

      &.payed {
        background-color: rgba(255, 48, 48, 0.8);
        position: relative;
        outline: none;
        text-indent: -999999px;

        &:before {
          position: absolute;
          text-indent: 0;
          width: 100%;
          display: block;
          content: 'V';
          color: rgba(255, 255, 255, 0.6);
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
        }
      }

      &.not-payed {
        background-color: rgba(255, 48, 48, 0.8);
        position: relative;
        outline: none;
        text-indent: -999999px;

        &:before {
          position: absolute;
          text-indent: 0;
          width: 100%;
          display: block;
          content: 'X';
          color: rgba(255, 255, 255, 0.6);
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
        }
      }
    }
  }
}
