<section class="data-range-wrap" fxLayout="row" fxLayoutAlign="start stretch">
  <section class="date-wrap text-center" fxFlexOffset="5px" fxFlex="3" fxFlexFill="width"
           *ngFor="let day of period" title="{{day.date | amDateFormat:'dd D MMMM'}}">
    <p class="dow text-center">{{day.date | amDateFormat:'D'}}</p>
    <section class="date holiday" title="{{vocation.title}}" *ngIf="isVocation(day.date) as vocation else notHoliday">
      {{vocation.date | amDateFormat:'dd'}}
    </section>
    <ng-template #notHoliday>
      <section class="date" *ngIf="!!day.vocation else noVocation"
               title="{{(day.vocation.payed) ? 'Payed' : 'Not Payed'}}"
               [class.payed]="day.vocation.payed" [class.not-payed]="!day.vocation.payed">
        {{day.date | amDateFormat:'dd'}}
      </section>
      <ng-template #noVocation>
        <section class="date pointer" [class.weekend]="day.date.weekday() ==6 || day.date.weekday() ==0">
          {{day.date | amDateFormat:'dd'}}
        </section>
      </ng-template>
    </ng-template>
  </section>
</section>
