.header {
  padding-bottom: 15px;

  .logo {
    //width: 100px;

    a {
      text-decoration: none;
    }
  }

  .header-content {
    .user-name {
      padding: 0 10px;
    }
  }

  .mat-badge {
    margin-right: 20px;
  }
}
