<header class="header" *ngIf="isLoggedId$ | async">
  <mat-card>
    <mat-card-content fxLayout="row" fxLayoutAlign="space-between" fxFlexFill="width">
      <section class="logo" fxFlexAlign="start">
        <a routerLink="/"><h2>Portal</h2></a>
      </section>
      <section class="header-content" fxFlexAlign="end" fxLayout="row" fxLayoutAlign="end stretch">
        <section *ngIf="user$ | async as user" fxFlexAlign="end" fxLayout="row" fxLayoutAlign="end center">
          <p class="user-name">
            Hello {{user.name}} {{user.lastName}}
          </p>
          <section *ngIf="user.UserRole.role !='employee'">
            <p *ngIf="(newRequests$ | async)==0; else hasNewRequests">
              <span matBadge="0" matBadgeColor="warn">
                <a mat-button routerLink="/manage">Manage</a>
              </span>
            </p>
            <ng-template #hasNewRequests>
              <span matBadge="{{newRequests$ | async}}" matBadgeColor="warn" matBadgeOverlap="false">
                <a mat-button *ngIf="user.UserRole.role !='employee'" routerLink="/manage">Manage</a>
              </span>
            </ng-template>
          </section>
        </section>
        <button mat-button (click)="logOut()" color="warn">LogOut</button>
      </section>
    </mat-card-content>
  </mat-card>
</header>
