<h1 mat-dialog-title>Please save user password.</h1>
<div mat-dialog-content class="content">
  <p *ngIf="!data.isReset; else reset">User has been successfully created. Please save a password.<br>
    If you forget this password you can only reset password.</p>
  <ng-template #reset>
    <p>Password has been successfully resetted. Please save a password.<br>
      If you forget this password you can only reset password.</p>
  </ng-template>
  <h3 class="text-center">{{data.password}}</h3>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" cdkFocusInitial>Close</button>
  </div>
</div>
