<h1 mat-dialog-title>Select dates.</h1>
<div mat-dialog-content class="content">
  <section class="example-section">
    <mat-checkbox class="example-margin" [(ngModel)]="data.payed">I want in payed</mat-checkbox>
  </section>
  <mat-form-field>
    <input [min]="currentDate" (dateChange)="checkDateRange()" matInput [matDatepicker]="picker1"
           [matDatepickerFilter]="isValidDate.bind(this)"
           [max]="maxDate"
           placeholder="Start Date"
           [(ngModel)]="startDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput (dateChange)="checkDateRange()" [min]="startDate" [matDatepicker]="picker2"
           [matDatepickerFilter]="isValidDate.bind(this)"
           [max]="maxDate"
           placeholder="End Date"
           [(ngModel)]="endDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <p *ngIf="error.hasErrors">{{error.message}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" cdkFocusInitial>Close</button>
  <button mat-button [disabled]="onDisableSubmit()" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
