<mat-list *ngIf="userList$ | async as userList" class="list-wrap">
  <mat-list-item *ngFor="let user of userList; let last = last" class="list-item" [class.last]="last">
    <p matLine class="bold">
      <button mat-button [matMenuTriggerFor]="menu">
        <fa-icon [icon]="faCog"></fa-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item title="Delete" class="text-center" (click)="onUserDelete(user.id)">
          <fa-icon [icon]="faTrashAlt" [size]="'lg'"></fa-icon>
        </button>
        <button mat-menu-item title="Reset password" class="text-center" (click)="onResetUserPassword(user.id)">
          <fa-icon [icon]="faKey" [size]="'lg'"></fa-icon>
        </button>
      </mat-menu>
      {{user.name}} {{user.lastName}}
    </p>
    <section matLine>
      <app-vocation-list [vocationList]="user.Vocation"
                         [holidayList]="holidaysList"
                         [period]="this.getPeriod(user.Vocation)"></app-vocation-list>
    </section>
  </mat-list-item>
</mat-list>
