<section class="login-block" fxLayout="column">
  <form class="example-form" [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center">
    <section>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" formControlName="login">
      </mat-form-field>
    </section>
    <section>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
    </section>
    <p class="text-center">
      <button mat-button (click)="login()">LogIn</button>
    </p>
  </form>
  <p *ngIf="errorMessage != ''">{{errorMessage}}</p>
</section>
