:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 103px);
}

.login-block {
  padding: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
