<section *ngIf="user$ | async as user">
  <mat-grid-list [formGroup]="addUserForm" [cols]="(canSelectRole) ? 5 : 4" class="text-left" rowHeight="100">
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <mat-form-field>
        <input matInput placeholder="Login" formControlName="login">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1" *ngIf="canSelectRole">
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select [formControl]="addUserForm.get('userRole')">
          <mat-option *ngFor="let role of roleList" [value]="role.role">
            {{role.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <section class="text-right">
    <button class="mat-raised-button mat-primary" [disabled]="addUserForm.invalid || checkingLogin"
            (click)="onAddUser()">Add
    </button>
  </section>

</section>
