<section>
  <mat-grid-list [formGroup]="addEditForm" [cols]="2" class="text-left" rowHeight="100">
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1"
               [matDatepickerFilter]="isValidDate.bind(this)"
               placeholder="Date"
               formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div mat-dialog-actions class="text-right">
    <button mat-button (click)="closeDialog()" cdkFocusInitial>Close</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial>{{isEdit ? 'Save' : 'Add'}}</button>
  </div>
</section>
