<section *ngIf="showData" class="data-range-page">
  <section fxLayout="row" class="top-block" fxLayoutAlign="space-between" fxFlexFill="width">
    <section class="change-period-block" fxFlexAlign="start">
      <button class="prev-btn" mat-raised-button (click)="setDate(monthNumber - 1)">Prev</button>
      <button class="next-btn" mat-raised-button (click)="setDate(monthNumber + 1)" [disabled]="!showNextButton()">
        Next
      </button>
    </section>
    <section class="set-data">
      <button mat-raised-button color="primary" (click)="onShowVocationDialog()">Set Vocation</button>
    </section>
  </section>
  <app-vocation-list [vocationList]="vocationList" [holidayList]="holidaysList" [period]="period"></app-vocation-list>
</section>
