<section *ngIf="requestsList$ | async as requests" class="requests-component">
  <table mat-table *ngIf="requests.length > 0; else noData" [dataSource]="requests" class="mat-elevation-z8">
    <ng-container matColumnDef="User">
      <th mat-header-cell *matHeaderCellDef> User</th>
      <td mat-cell *matCellDef="let request"> {{request.User.name}} </td>
    </ng-container>
    <ng-container matColumnDef="approved">
      <th mat-header-cell *matHeaderCellDef> Approved</th>
      <td mat-cell *matCellDef="let request"> {{request.approved}} </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created</th>
      <td mat-cell *matCellDef="let request"> {{request.createdAt | amDateFormat:'YYYY-MM-DD'}} </td>
    </ng-container>
    <ng-container matColumnDef="Vocation">
      <th mat-header-cell *matHeaderCellDef> Vocation</th>
      <td mat-cell *matCellDef="let request">
        [<span *ngFor="let vocation of request.Vocation; last as last">
            {{vocation.date}}{{(!last) ? ', ' : ''}}
          </span>]
      </td>
    </ng-container>
    <ng-container matColumnDef="approve">
      <th mat-header-cell *matHeaderCellDef>Approve</th>
      <td mat-cell *matCellDef="let request">
        <button title="Approve" mat-raised-button color="primary" (click)="acceptRequest(request.id)">
          <fa-icon [icon]="faCheck"></fa-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="decline">
      <th mat-header-cell *matHeaderCellDef>Decline</th>
      <td mat-cell *matCellDef="let request">
        <button title="Decline" mat-raised-button color="warn" (click)="declineRequest(request.id)">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  <ng-template #noData>
    <p class="text-center">There is no requests.</p>
  </ng-template>
</section>
