@import "./materialTheme";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.mat-menu-item {
  &.text-center {
    @extend .text-center;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.mat-header-cell {
  &.text-right {
    @extend .text-right
  }
}

.pointer {
  cursor: pointer;
}

table {
  width: 100%;
}

a {
  .mat-button-wrapper {
    line-height: 44px;
  }
}
