<section class="container">
  <app-header-component></app-header-component>
  <mat-card>
    <mat-card-title>{{title | async}}</mat-card-title>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
  <app-footer-component></app-footer-component>
</section>
