<section class="header text-right">
  <button mat-raised-button (click)="onAddHoliday()">Add</button>
</section>
<section *ngIf="holidaysList$ | async as holidaysList">
  <table *ngIf="holidaysList.length > 0; else noData" mat-table [dataSource]="holidaysList" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let holiday"> {{holiday.date}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let holiday"> {{holiday.title}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let holiday" class="text-right edit">
        <button mat-raised-button [color]="'primary'" (click)="onEditHoliday(holiday)">
          <fa-icon [icon]="faEdit" [size]="'md'"></fa-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let holiday" class="text-right delete">
        <button mat-raised-button [color]="'warn'" (click)="onDeleteHoliday(holiday)">
          <fa-icon [icon]="faTrashAlt" [size]="'md'"></fa-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  <ng-template #noData>
    <p class="text-center">No holidays found.</p>
  </ng-template>
</section>
